 *{margin:0; padding:0; box-sizing:border-box; font-family: 'Josefin sans' , sans-serif;}

p{font-size:0.9rem;
 line-height:1.6;
 font-weight:400;
 margin-bottom:2px;
 margin-top:1px;
 
}

.extra-div h3 .services h3 {
font-size:0.9rem;
 line-height:1.1;
 font-weight:bold;
 margin:20px 0 15px 0;
 word-spacing:4px;
  }
  
  i{
	  color:#00ECEC;
	  }


	 /* actual css start-**/
.header{
	
	width:100%;
	height:100vh;

	background-image:url('../images/design5.png');
	
	background-repeat:no-repeat;
	background-image: 100% ;

	background-size:100%,100%;
	} 

.mainheader {
	width: 100%;
	height:100px; 
	
	justify-content: space-between;
	align-items: center;
	display: flex;
}

.mainheader .logo img{
	width: 250px;
	height: 70px;
	padding-left: 50px;
	
	
	
}
	
.mainheader nav{
	width: 450px;
	
	display:flex;
	justify-content: space-around;
	align-items: center;
	
	}
	
.mainheader nav a{
	text-decoration: none;
	color: black;
	text-transform: uppercase;
}
.menubutton{
	margin-right: 60px;
}
 
 .mainheader button{
 	padding: 5px 35px ;
 	text-align: center;
 	font-size: 14px;
 	color: #fff;
 	border: none;
 	background-image:linear-gradient(to right,#649bff,#0070fa,#649bff); 
 	border-radius:10px;

 }
 main {
	width: 100%;
	
	justify-content: space-between;
	align-items: center;
	display: flex;
}
main .left-sec{
	margin-left:  50px;
}
.left-sec h2 {
	font-size: 20px;
	text-transform: capitalize;
	font-weight: lighter;
	color: #242424;
	margin-top: 300px;

}
.left-sec h1 {
	font-size: 30px;
	text-transform: capitalize;
	font-weight: 400;
	color: #242424;
	margin: 10px 0;

}
.left-sec p{
	margin-bottom: 20px;
}
.left-sec button{
	padding: 5px 35px ;
 	text-align: center;
 	font-size: 14px;
 	color: #fff;
 	border: none;
 	background-image:linear-gradient(to right,#649bff,#0070fa,#649bff); 
 	border-radius:20px;
}
/***our services start and  Our Happy client start***/
.services .happyclients{
	width:100%;
	height:100vh;
	padding:20px 0 ;
	
}
.box {
	text-align:center;
	border:1px solid rgba(0,0,0,0.2);
	box-shadow:0 5px 10px 0 rgba(0,0,0,0.3);
	border-radius:2px;
	transition:0.3s;
	
}
.box:hover{
	background:#16c9f6;
}

.box:hover p{
	color:#fff;
}

.carousel-indicators{
	position:absolute;
	right:0;
	bottom:-60px;


}
.carousel-indicators li{
	background-color:#16c9f6;
}


.box h1 {
	font-size:18px;
	font-weight:400px;
	color:#000;
	margin-bottom:10px;
	
}
.box h2 {
	font-size:13px;
	font-weight:400px;
	color:#666666;
	margin-bottom:20px;
	
}
/***our services end and Our Happy client end***/
/***list service start**/
.main{
		width:1080px;
		margin:auto;
		clip-path:polygon(95% 0%,100% 50%,95% 100%,5% 100% , 0 50%,5% 0);
		margin-bottom: 20px;
		animation: aagepiche 2s linear infinite;
		animation-direction: alternate;
		margin-top: 70px;
	}
	@keyframes aagepiche{
		from{padding-left: 40px;}
		to{padding-right: 40px;}
	}
	
	.menu{
		width:1080px; 
		margin:auto;
	
	}
	.menu ul{
				padding:10px;
				margin:0px;
				list-style:none;
				background-color:#009BD7;
				
				}
.menu ul li {
		display:inline-block;
		border-right:#fff 5pt solid;
		justify-content: space-around;

	}
	.menu ul li a{
		color:#fff;
		text-decoration:none;
		font-size:20px;
		margin-left: 30px;
		margin-right: 25px;
		
	}
	.menu ul li a:hover{
		background-color:#fff;
		color:#006699;
	}
	/***list service end**/
/*** SUBCRIBERS start*****/
  .project-work{
	  margin:150px 0 50px;
	  padding: 50px 0;
	  background-color:  #f7f7f9;
  }
  .project-work h1{
	  font-size:2rem;
	  text-align:center;
	  padding: 30px 0;
  }
  /*** SUBCRIBERS end*****/
  /***Number***/
  .number{
  	background-color: #40c4ff;
  }
  /** header extra 3div  **/

.header-extradiv{
	width:100%; height:auto;
	margin:auto;
	text-align:center;
}

.extra-div{
	background:#fff;
	border:medium none;
	padding:50px!important;
	border-radius:3px;
	transition:0.3s;
	
}
 
 .extra-div:hover{
	  				box-shadow:0 0 20px 0 rgba(0,0,0,0.3);
					transform: translateY(-30px); 
  }
  /** header extra 3div end  **/
  /*** OUR BEST PRICING css **/
  .pricing{
	  width:100%;
	  height:100vh;
	  padding:30px;
	  position:relative;
	  
  }
  .pricing h3{
	  padding:20px;
  }
  .pricing:before{
	content:"";
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
	z-index:-1;
	background:linear-gradient(160deg,#16c9f6 55%,#fff 0%);
	
}
.money{
	font-size:35px;
	color:#606060;
	line-height:1;
	
}
  .card{
	  transition:0.4s ease;
  }
  .card-header{
	  font-size:1.6rem;
	  font-weight:bold;
	  background:#fff!important;
	  padding:25px!important;
  }
  .card-body{
	  padding:30px!important;
  }
  .card-body li{
	  margin:10px;
	  font-size:15px;
	  font-weight:400;
	  line-height:1.6;
	  color:#606060;
	  list-style:none;
  }
  .card-footer{
	  padding:25px;
  }
 .card-footer a{
			border:1px solid #50d1c0;
			border-radius:100px;
			margin:0 5px;
			padding:12px 20px;
			outline:none;
			color:#000000;
			font-size:1rem;
			font-weight:400;
			text-align:center;
			
}
.card:hover .card-footer a{
				color:#fff;
				background:#50d1c0;
				text-decoration:none;
				box-shadow: 0 0 20px 0 rgba(0,0,0,0.3);
}
.card:hover{
	transform:translateY(-30px);
	box-shadow:0 0 20px 0 rgba(0,0,0,0.3);
}
.card:hover .card-header , .card:hover .money{
	color:#50d1c0;
}
/***Our special offer end***/
/***our happy client extra css**/
.imgbox{
	border-radius: 50%;
	width: 150px;
	height: 150px;
	margin-top: 20px;
}
/***our happy client extra css end**/
/***want to join start***/
.join{
	background-color: #00E1E1;
}

  
/**  Why Alfeen .com start**/
   
  .serviceoffers{
	  background:#f7f7f9;
	  padding:50px 0;
	  margin-bottom:50px;
  }
  
  .heading{
	  margin-bottom:50px;
  }
  .heading h1{
	  font-size:1.5rem;
	  font-weight:600;
	  text-transform:uppercase; 
  }
  
  .service-icons {
	  display:flex;
	  justify-content:center;
	  align-items:center;
  }
  
  .servicesubheading h3 {
		font-size:1rem;
		 line-height:1.1;
		 font-weight:bold;
		 margin:20px 0 15px 0;
		 word-spacing:4px;
  }
  .servicesubheading2 h3 , .servicesubheading3 h3 , .servicesubheading4 h3{
  	font-size:1rem;
  	font-weight:bold;
  	word-spacing:4px;
  }
  .servicesubheading2{
  	border-left: blue 4pt solid;
  	margin: 10px 0 30px 65px ;

  }
  .servicesubheading3{
  	border-left: red 4pt solid;
  	margin: 10px 0 30px 65px ;
  }
  .servicesubheading4{
  	border-left: #800080 4pt solid;
  	margin: 10px 0 30px 65px ;
  }
  
  .work h2 {
  	margin-left: 70px;
  	margin-bottom: 20px;
  	font-size: 1.3rem;
  	font-weight: bold;
  }
/**  Why Alfeen .com end**/
/**feel free contact **/
  
  


  
  .serviceoffers2{
	  
	  padding:50px 0;
	  margin-bottom:50px;
  }
  
  .contactus{
	  width:100%;
	  height:70vh;
	  padding:50px 0;
	  position:relative;
	  background:linear-gradient(#00ECEC 100%,#fff 0%);
	  margin-bottom:50px;
  }
  
  .contactus:before{
	content:"";
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
	z-index:-1;
	
	
	
}

.form-button button{
			border:1px solid #50d1c0;
			border-radius:100px;
			margin:0 5px;
			padding:12px 20px;
			outline:none;
			color:#50d1c0;
			font-size:1rem;
			font-weight:400;
			text-align:center;
			background:transparent;
			
}
form:hover .form-button button{
				color:#50d1c0;
				background:#fff;
				text-decoration:none;
				box-shadow: 0 0 20px 0 rgba(0,0,0,0.3);
}

::placeholder{
	font-size:0.85rem;
}

/***footer start***/
	.footersection{
		width: 100%;
		height: auto;
		padding: 50px 0 20px 0;
		background:#40c4ff;
		position: relative;

	}
	.footersection p {
		color:#fff;

	}
	.footersection li a {
		font-size:0.9rem;
		line-height: 1.6;
		font-weight: 400;
		color: #fff;
		
		
		
	}
	.footersection h3 {
		font-size:1.2rem;
		margin-bottom: 25px;
		font-weight: 600;
		color: #fff;
		text-transform: uppercase;

	}
	.footersection li{
		list-style: none;
		
	}
	.list-group i{
		color: #fff;
		align-items: center;


	}
	.list-group  {
	align-items: center;
	display:inline-block;
	justify-content:center;
	margin:0px 600px 20px ;
	padding: 0px 0 20px 0;
	word-spacing: 20px;
	}

	/****footer end***/




	
	/******media query start********/
	@media(max-width:768px){

		

.pricing{
	  
	  height:auto;
	  padding:50px;
	  margin-top:70px; 
	 
	  
  }
  .card{
		margin-top: 50px;

	}

	.menu{
		width: 50%;
	}

	 }
